/* style for table */
table {
    border-collapse: collapse; /*bordures effacées*/ 
    width: 100%; /*la largeur est fixée à 100%*/
    box-shadow: 0 1px 3px rgba(47, 5, 103, 0.2);/*bordure de 1px solide de couleur grise*/
    border-collapse: separate;/**/
    border-color: #787475;/*bordure de couleur grise*/
    margin-top: 20px;
}
  /*styler le tableau*/
  td, th {
    border: 1px solid #1b1919;
    padding: 10px;
    text-align: center;
    
  }
  /*styler les lignes impaires et paires du tableau*/
  tr:first-child {
    background: linear-gradient(to right, #965492, #90a8d1);
  }
  tr:not(:first-child){
    background: linear-gradient(to right, #e4bbd6, #899bd5);
  }
  /*style des lignes lors du survol */
  tr:first-child:hover {
    background: linear-gradient(to right, #acb3d2, #eabbe7);
    color: #110d0d;
    animation: highlight 0.3s ease-in-out;
  }
  /*keyframe pour le changement de couleurs avec un effet de zoom*/
  @keyframes highlight {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  

/* style for delete button */
input[type=submit] {
    background-color: #f44336;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #f44336;
    opacity: 0.8;
}

/* style for headings */
h1,
h2 {
    text-align: center;
    color: #2F4F4F;
    margin-bottom: 20px;
}

/* style for table container */
.container {
    max-width: 800px;
    margin: 1% auto 3% auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/*Styler le bouton des messages*/

.message-btn {
    background-color: #215ee0;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-top: 10px;
}


.message-btn:hover {
    background-color: #234794;
}



.done {
    background-color: rgba(0, 255, 0, 1);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 2%;

}

#erreur {
    background-color: rgb(239, 166, 185);
    width: 200px;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    margin-bottom: 2%;

}
#check{
    display: none;/*les deux boutons sont cachés initialement.*/
  }
  
  label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #235ede;
    height: 45px;
    width: 45px;
    text-align: center; /*centrer le texte à l'intérieur des boutons.*/
    line-height: 45px; /*la hauteur de ligne des boutons*/
    color: white;
    font-size: 29px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #ee9ab5;
    margin: 15px 30px;
    transition: all .5s ease; /*transition animée de 5 secondes lorsque les boutons sont affichés ou cachés*/
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  
  }
  /*lorsque l'élément #check est coché le bouton de menu doit être caché. */
  #check:checked ~ label #btn{
    margin-left: 300px;/*déplacer le bouton de menu vers la droite (avec une marge de 300 pixels).*/
    opacity: 0;/*On le cache en réduisant son opacité,*/
    visibility: hidden;/*et en le rendant invisible.*/
  }
  /*lorsque l'élément #check est coché et que le bouton de fermeture doit être affiché*/
  #check:checked ~ label #cancel{
    margin-left: 300px;
    opacity: 1; /*on augmente son opacité pour le rendre bien visible*/
    visibility: visible;
  }
  /*Affichage du menu apres avoir cliquer sur le bouton menu*/
  #check:checked ~ nav{
    left: 0;
  
  }
  /*On deplace le contenu de la page 300px à gauche pour afficher le menu*/
  #check:checked ~ .main{
  margin-left: 300px;
  
  }
  
  /*styler la barre de navigation*/
  nav{
      height: 100%;/*une hauteur de 100%*/
      width: 300px;/*une largeur de 300px*/
      position: fixed;/*ne position fixe sur la page*/
      z-index: 1;/**/
      top: 0;/**/
      left: -300px;/**/
      background-color: #064384; /*couleur de fond : bleu foncé */
      overflow: hidden;/**/
      transition: 0.5s;/**/
      padding-top: 30px;/**/
     /*transition animée de 5s*/
      transition: all .5s ease;
      
  }
  /*styler le lien*/
  nav li a{
      color: white;
      text-decoration: none;
      border-radius: 3px;
      font-family: Arial, Helvetica, sans-serif;
  }
  /*style de la liste lors du survol */
  nav li:hover * {
    cursor: pointer;
    padding-left: 10px;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: "poppins",sans-serif;
}
hr{
    margin-left:  30px;
    margin-right: 30px;
  }
  ul hr{
    width: 100%;
  }
  
  /*styler les textes des li*/
  li{
      color: #f1f1f1;
      font-size: 19px;
  }
  body {
    background-image: url("../images/bg.png");
    background-size: cover;
    background-attachment: fixed;
  
  }