@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  font-family: "poppins", sans-serif;
}

/*ajouter une background image (filgrane du logo du site web)*/
body {
  background-image: url("../images/bg.png");
  background-size: cover;
  background-attachment: fixed;

}

/*Lorsque la touche du menu est cochée, le menu s'affiche, sinon il est caché.*/
#check {
  display: none;
  /*les deux boutons sont cachés initialement.*/
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background-color: #710771;
  height: 45px;
  width: 45px;
  text-align: center;
  /*centrer le texte à l'intérieur des boutons.*/
  line-height: 45px;
  /*la hauteur de ligne des boutons*/
  color: white;
  font-size: 29px;
  border-radius: 5px;
  box-shadow: 0 1px 3px #e2aae6;
  margin: 15px 30px;
  transition: all .5s ease;
  /*transition animée de 5 secondes lorsque les boutons sont affichés ou cachés*/
}

label #cancel {
  opacity: 0;
  visibility: hidden;

}

/*lorsque l'élément #check est coché le bouton de menu doit être caché. */
#check:checked~label #btn {
  margin-left: 300px;
  /*déplacer le bouton de menu vers la droite (avec une marge de 300 pixels).*/
  opacity: 0;
  /*On le cache en réduisant son opacité,*/
  visibility: hidden;
  /*et en le rendant invisible.*/
}

/*lorsque l'élément #check est coché et que le bouton de fermeture doit être affiché*/
#check:checked~label #cancel {
  margin-left: 300px;
  opacity: 1;
  /*on augmente son opacité pour le rendre bien visible*/
  visibility: visible;
}

/*Affichage du menu apres avoir cliquer sur le bouton menu*/
#check:checked~nav {
  left: 0;

}

/*On deplace le contenu de la page 300px à gauche pour afficher le menu*/
#check:checked~.main {
  margin-left: 300px;

}

/*styler la barre de navigation*/
nav {
  height: 100%;
  /*une hauteur de 100%*/
  width: 300px;
  /*une largeur de 300px*/
  position: fixed;
  /*ne position fixe sur la page*/
  z-index: 1;
  /**/
  top: 0;
  /*Cacher la barre menu initialement en affectant la valeur negative de sa largeur*/
  left: -300px;
  /*Couleur du fond de la barre menu*/
  background-color: #33033e;
  /*couleur de fond : violet foncé */
  overflow: hidden;
  /*transition animéée de 0.5secondes*/
  transition: 0.5s;
  /**/
  padding-top: 30px;
  /*transition animée de 5s*/
  transition: all .5s ease;
}

/*styler le lien*/
nav li a {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

/*style de la liste lors du survol */
nav li:hover * {
  cursor: pointer;
  padding-left: 10px;
}

/*styler les input de l'offre*/
input.offer-options {
  background-color: #e7e2e8;
  color: #060606;
  margin-top: 10px;
}

/*styler le bouton d'envoi*/
button.submit-offer {
  background-color: #26a326;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

input,
.menu {
  color: #f1f1f1;
  background-color: #33033e;
  border: none;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  padding: 40px;
}

/*styler la div de class main */
.main {

  transition: margin-left .5s;
  padding: 16px;
  margin-left: 0px;

}

/*styler les titres du main*/
.main h1 {
  transition: left .5s;
  padding: 16px;
  margin-left: 30px;
  font-size: 30px;
  text-align: center;
}

/*styler les textes des li*/
li {
  color: #f1f1f1;
  font-size: 19px;
}

/*enlever les puces de la listes*/
ul {
  list-style-type: none;
}

/*la mise en forme des tableaux*/
table {
  border-collapse: collapse;
  /*bordures effacées*/
  width: 100%;
  /*la largeur est fixée à 100%*/
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  /*bordure de 1px solide de couleur grise*/
  border-collapse: separate;
  /**/
  border-color: #787475;
  /*bordure de couleur grise*/
  border-radius: 5px;
  /*une bordure arrondie de 5px*/
  margin-top: 20px;
}

/*styler le tableau*/
td,
th {
  border: 1px solid #c2bbbb;
  border-radius: 5px;
  padding: 10px;
  text-align: center;

}

/*styler les lignes impaires et paires du tableau*/
tr:nth-child(odd) {
  background: linear-gradient(to right, #b573b7, #e0aab7);
}

tr:nth-child(even) {
  background: linear-gradient(to right, #b6a0b6, #e8d5e8);
}

/*style des lignes lors du survol */
table tr:first-child:hover {
  background: linear-gradient(to right, #a579ae, #eabbe7);
  color: #110d0d;
  animation: highlight 0.4s ease-in-out;
}

/*keyframe pour le changement de couleurs avec un effet de zoom*/
@keyframes highlight {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

/* Styler la form d'offre */
.offer-form {
  display: none;
  margin-top: 10px;
}

/*Styler le bouton d'offre*/
.offer-btn {
  background-color: #30c5ee;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

/*Style du bouton d'offre lors du survol*/
.offer-btn:hover {
  background-color: #187993;
}

/*Styler le bouton des messages*/
.message-btn {
  background-color: #0752f4;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
  margin-top: 10px;
}

/*Styler le bouton des messages lors du survol*/

.message-btn:hover {
  background-color: #2d4373;
}

/*Styler le bouton de redirection vers le profil de l'influenceur */
.profile-btn {
  background-color: #f50ca7;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

/*Styler le bouton de redirection vers le profil de l'influenceur lors du survol par curseur */
.profile-btn:hover {
  background-color: #a21473;
}

/*Styler le bouton de refus*/

.refuse-btn {
  background-color: #f51505;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 10px;
}

/*Styler le bouton de refus lors du survol*/
.refuse-btn:hover {
  background-color: #e60000;
  /* rouge foncé lors du survol */
}

/*Styler le bouton de refus lors du click*/
.refuse-btn:active {
  background-color: #cc0000;
  /* rouge encore plus foncé lors du click */
}

/*Styler le bouton d'acceptation */
.accept-btn {
  background-color: #2cea32;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 0px;
}

/*Styler le bouton d'acceptation lors du survol*/
.accept-btn:hover {
  background-color: #139618;
}

/*Styler le bouton des offres acceptés*/
td.accepted {
  background-color: #95c895;
}

/*Styler le bouton des offres refusés*/
td.refused {
  background-color: #ffc9c9;
}


/* styler la partie profil contenant les infos de l"entreprise*/
.profile {

  margin-right: 10px;
  width: 300px;
  margin-top: 20px;
  border-bottom: 1px solid rgb(252, 245, 252);

}

/*redimensioner l'image du logo*/
.profile img {

  margin-left: 90px;
  margin-bottom: 40px;
  border-radius: 200px;
  width: 100px;
  height: 100px;
  box-shadow: 0 2px 3px #be56c6;
  border: solid rgb(176, 9, 176);

}

/*styler le nom de l'entreprise*/
.profile p {
  color: white;
  font-weight: 500;
  margin-top: 10px;
  font-size: 25px;
  font-weight: bold;
}