@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: "poppins",sans-serif;
}
/*ajouter une background image (filgrane du logo du site web)*/
body{
    background-image: url("../images/bg.png");
    background-size: cover;
    background-attachment: fixed;
       
}
#check{
  display: none;/*les deux boutons sont cachés initialement.*/
}

label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background-color: #235ede;
  height: 45px;
  width: 45px;
  text-align: center; /*centrer le texte à l'intérieur des boutons.*/
  line-height: 45px; /*la hauteur de ligne des boutons*/
  color: white;
  font-size: 29px;
  border-radius: 5px;
  box-shadow: 0 1px 3px #ee9ab5;
  margin: 15px 30px;
  transition: all .5s ease; /*transition animée de 5 secondes lorsque les boutons sont affichés ou cachés*/
}
label #cancel{
  opacity: 0;
  visibility: hidden;

}
/*lorsque l'élément #check est coché le bouton de menu doit être caché. */
#check:checked ~ label #btn{
  margin-left: 300px;/*déplacer le bouton de menu vers la droite (avec une marge de 300 pixels).*/
  opacity: 0;/*On le cache en réduisant son opacité,*/
  visibility: hidden;/*et en le rendant invisible.*/
}
/*lorsque l'élément #check est coché et que le bouton de fermeture doit être affiché*/
#check:checked ~ label #cancel{
  margin-left: 300px;
  opacity: 1; /*on augmente son opacité pour le rendre bien visible*/
  visibility: visible;
}
/*Affichage du menu apres avoir cliquer sur le bouton menu*/
#check:checked ~ nav{
  left: 0;

}
/*On deplace le contenu de la page 300px à gauche pour afficher le menu*/
#check:checked ~ .main{
margin-left: 300px;

}

/*styler la barre de navigation*/
nav{
    height: 100%;/*une hauteur de 100%*/
    width: 300px;/*une largeur de 300px*/
    position: fixed;/*ne position fixe sur la page*/
    z-index: 1;/*afficher en premier plan*/
    top: 0;
    left: -300px;/*la barre de nav est caché avant que le bouton menu est coché*/
    background-color: #064384; /*couleur de fond : bleu foncé */
    overflow: hidden;/*le débordement du contenu lorsque celui-ci dépasse la hauteur de l'élément est caché*/
    transition: 0.5s;/*transition animée*/
    padding-top: 30px;/*l'espacement intérieur de l'élément sur le dessus*/
    transition: all .5s ease;/*transition animée de 5s*/
    
}
/*styler le lien*/
nav li a{
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
}
/*style de la liste lors du survol */
nav li:hover * {
  cursor: pointer;
  padding-left: 10px;
}
/*Styler les input des suggestions*/
input.sug-options{
  background-color: #e7e2e8;
  color: #060606;
  margin-top: 10px;

}
/*styler le contenu de la page */
.main {
  transition: margin-left .5s;
  padding: 16px;
  margin-left: 0px;

}
.main h2{
    transition: left .5s;
    padding: 16px;

    font-size: 30px;
    text-align: center;

}
/*styler la ligne qui sépare le profil des autres options*/
hr{
  margin-left:  30px;
  margin-right: 30px;
}

/*styler les textes des li*/
li{
    color: #f1f1f1;
    font-size: 19px;
}

img {
 height: 100px;
margin-left: 90px;
border-radius: 200px;
border: solid rgb(57, 4, 57);
}
/*enlever les puces de la listes*/
ul{
    list-style-type: none;
}
/*la mise en forme des tableaux*/
table {
    border-collapse: collapse; /*bordures effacées*/ 
    width: 100%; /*la largeur est fixée à 100%*/
    box-shadow: 0 1px 3px rgba(47, 5, 103, 0.2);/*bordure de 1px solide de couleur grise*/
    border-collapse: separate;/**/
    border-color: #787475;/*bordure de couleur grise*/
    margin-top: 20px;
}
  /*styler le tableau*/
  td, th {
    border: 1px solid #1b1919;
    padding: 10px;
    text-align: center;
    
  }
  /*styler les lignes impaires et paires du tableau*/
  tr:first-child {
    background: linear-gradient(to right, #965492, #90a8d1);
  }
  tr:not(:first-child){
    background: linear-gradient(to right, #e4bbd6, #899bd5);
  }
  /*style des lignes lors du survol */
  tr:first-child:hover {
    background: linear-gradient(to right, #acb3d2, #eabbe7);
    color: #110d0d;
    animation: highlight 0.3s ease-in-out;
  }
  /*keyframe pour le changement de couleurs avec un effet de zoom*/
  @keyframes highlight {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
/*Styler le bouton d'offre*/
.suggestion-btn {
    background-color: #a80d63;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 8px;
}
/*Style du bouton de suggestions lors du survol*/
.suggestion-btn:hover{
    background-color: #61071f;
}
/*styler le bouton d'envoi*/
button.submit-sug{
  background-color: #409f40;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px 17px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
}

/*Styler le bouton des messages*/
.message-btn{
    background-color: #a109ae; 
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-top: 10px;
  }
  /*Styler le bouton des messages lors du survol*/
  
  .message-btn:hover {
    background-color: #741970; 
  }
  /*Styler le bouton de refus*/

  .refuse-btn {
    background-color: #f51505;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}
/*Styler le bouton de refus lors du survol*/
.refuse-btn:hover {
  background-color: #e60000; /* rouge foncé lors du survol */
}
/*Styler le bouton de refus lors du click*/
.refuse-btn:active {
  background-color: #cc0000; /* rouge encore plus foncé lors du click */
}
/*Styler le bouton d'acceptation */
.accept-btn {
  background-color: #37d83c;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 0px;
}
/*Styler le bouton d'acceptation lors du survol*/
.accept-btn:hover{
  background-color: #139618;
}
 
main {
  padding: 20px; 
}

