* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: #fff;
}
.choice {
    flex-direction: column;/* définit la direction des éléments enfants à être disposés en colonne, empilés verticalement les uns sur les autres. */
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.choice button {
    background-color: #fff;
    color: #3c00a0;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.choice button:hover {
    background-color: #3c00a0;
    color: #fff;
}
.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 50, 0.8), rgba(0, 0, 50, 0.8)), url(../images/loginbg.png);
    /*  l'arrière-plan  sera un dégradé linéaire bleu foncé semi-transparent superposé par l'image loginbg.png */
    background-position: center;
    background-size: cover;
    position: relative;
}
#error {
    color: #721c24;
    background: #f8d7da;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #f5c6cb;
    display: none;/* masque initialement le message d'erreur, le rendant invisible. */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 10px;

}

#error p {
    text-align: center;
    padding: 2%;
    font-size: 1.1rem;
}



.forme {
    width: 90%;
    max-width: 450px;/* Définit la largeur maximale de l'élément "forme" à 450 pixels. */
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);/* Déplace l'élément "forme" de -50% de sa propre largeur et -50% de sa propre hauteur */
    padding: 50px 60px 70px;
    text-align: center;

}

section form {
    display: flex; /*  permet à la form d'utiliser la mise en page flexible */
    flex-direction: column; /* spécifie que les éléments  de form doivent être disposés verticalement,
                             un en dessous de l'autre, créant ainsi une disposition en colonne */
}

.forme h1 {
    font-size: 30px;
    margin-bottom: 60px;
    color: #3c00a0;
    position: relative;
}
/*  pour ajouter un trait horizontal stylisé en bas du titre <h1> qui est situé à l'intérieur dela classe "forme" */
.forme h1::after {
    content: '';/*  définit le contenu  comme vide */
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #3c00a0;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);  /*  déplace l'élément  horizontalement de -50% de sa propre largeur */
}

.input-field {
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;  /*  supprime le contour de l'élément <input> lorsqu'il est en cours de focus */
    padding: 18px 15px;
}

.input-field i {
    margin-left: 15px;
    color: #999;
}

.btn-field {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button {
    flex-basis: 48%;/*  définit la taille initiale du bouton pour occuper 48% de l'espace disponible dans son conteneur. */
    background: #3c00a0;/*  définit la couleur de fond du bouton  */
    color: #fff;/* définit la couleur du texte du bouton à blanc */
    height: 40px;/* définit la hauteur du bouton à 40 pixels. */
    border-radius: 20px; /*  donner une forme arrondie a la button */
    border: 0;/*  supprime la bordure autour du bouton */
    outline: 0;/*  supprime l'effet d'outline lorsque le bouton est cliqué ou actif */
    cursor: pointer;/* change le curseur de la souris en une main pointant vers le bouton, indiquant qu'il est cliquable. */
}

.btn-field button:hover {
    background: #4c18a1;
}

.input-group {
    height: 200px;
}
.signuplink {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
    display: flex;
}