

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    font-family: "poppins",sans-serif;
}
body{
    background-color: #d1d3e2;
    font-size: 19px;
}
/*styler la partie contenant le logo et le nom de l'entreprise*/
.header {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
/*Styler le nom de l'entreprise*/
.header h1{
  position: relative;
}

/*Ajouter des styles au nom de l'entreprise ciblé*/
.header h1::before {
  transform: scaleX(0); /*eviter tout changement de taille*/
  transform-origin: bottom top; /*origine de transformation*/
  content: " "; /*aucun contenu ajouté au style*/
  display: block; /*forme du style*/
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0; /* les valeurs pour le décalage de la marge intérieure*/
  background: #f602b1; /*Couleur de fond du style*/
  opacity: 0.2; /*Opacité du style*/
  z-index: -1; /*position du style par rapport à l'element ciblé*/
  transition: transform .3s ease; /*Transition pendant 3s*/
}

/*Transformation de taille lors du survol par curseur*/
.header h1:hover::before {
  transform: scaleX(1); /* l'animation comprend tout le texte*/
  transform-origin: top left; /*origine de la transformation*/
}

/*Styler le logo de l'entreprise*/
.logo {
  height: 120px;
  width: 130px;
  margin-right: 30px;
  margin-top: 20px;
  transition: transform 0.2s;
}
/*Styler le logo de l'entreprise lors du survol par curseur*/
.logo:hover {
  transform: scale(1.1); /*chang. de taille */
}
 
  /* style de la partie contenant le formulaire */
.container {
    width: 30%;
    height: 750px;
    margin: 0 auto;
    border: 1px solid #393539; 
    background-color: #fff;
    box-shadow: 0px 10px 10px #f503f9;
    padding: 30px; 
  }
  /*Style du label*/
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #070707;
    margin-bottom: 0px;
    margin-top: 7px;
    font-weight: bold;
  }
  /*Styler les input du logo et celles des textes*/
  input[type="text"],
  input[type="file"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #4d4242;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  /*Styler le bouton d'enregistrement des nouvelles données*/
  .signupbtn{
    background-color: #bd0be1;
    color: white;
    margin-right: 129px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 16px 23px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    text-transform: uppercase;
  }
 /*Styler le bouton d'enregistrement des nouvelles données lors du survol par curseur*/
  button[type="submit"]:hover {
    background-color: #811087;
  }
/* styler le bouton d'annulation des modifications*/
.cancelbtn{
 background-color: #da0be1;
 display: inline-block;
 margin-top: 50px;
  margin-left: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  border: none;
  align-items: center;
}

