* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* __________________CSS Page-Principale_________________*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(../images/bacg3.png);/*  un fond avec un dégradé linéaire semi-transparent superposé à l'image  */
    background-position: center;/* l'image de fond doit être positionnée au centre de la classe header */
    background-size: cover;  /*  l'image remplira complètement l'arrière-plan de la classe header */
    position: relative;
}

nav {
    display: flex; /*Définit l'élément <nav> comme un conteneur flexible
                    Cela permet aux éléments enfants de <nav> de s'aligner horizontalement */
    padding: 2% 6%; /*Définit un espace de rembourrage de 2% en haut et en bas, 
                    et de 6% à gauche et à droite pour l'élément <nav>*/
    justify-content: space-between;
    align-items: center;/* les éléments sont centrés verticalement à l'intérieur de <nav> */
}

.nav-links {
    flex: 1; /*l'element  va s'étirer autant que possible pour occuper tout l'espace disponible dans son conteneur.*/
    text-align: center;

}

.nav-links ul li {
    list-style: none;
    display: inline-block; /*affiche les éléments <li> comme des éléments en ligne avec des caractéristiques de bloc*/
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
/*
::after: Cible le pseudo-élément ::after, 
qui est utilisé pour ajouter du contenu après 
le contenu de l'élément ciblé */

.nav-links ul li::after{
    content:'';/*Définit le contenu du pseudo-élément ":after" comme étant vide*/
    width: 0%; /* width 0 pour  qu'il ne sera pas visible initialement*/
    height: 3px;
    background-color: #4c047b;
    display: block;/*Définit l'élément comme étant un élément de type "block" */
    margin: auto;
    transition: 0.5s;/* transition de durée de 0,5 seconde pour les propriétés qui changeront lorsque l'élément sera survolé. */
}
.nav-links ul li:hover::after{
    width: 100%; /*Définit la largeur d'élément  à 100% lorsqu'il est survolé
                  Cela le rendra visible */
}
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;/*Cela permet de le positionner librement dans son conteneur parent*/
    top: 50%;/* Positionne l'élément  à 50% de la hauteur de son conteneur parent*/
    left: 50%;/* Positionne l'élément  à 50% de la argeur  de son conteneur parent*/
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;  /* l'élément aura une marge de 10 pixels en haut, pas de marge à droite, une marge de 40 pixels en bas et pas de marge à gauche*/
    font-size: 18px;
    color: #fff;

}

.btnn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 12px 14px;
    position: relative;
    font-size: 1.3em;
    margin-top: 30px;
    cursor: pointer;
    margin: 20px;
}

.btnn:hover {
    border: 1px solid #4c047b;
    border-radius: 10px;
    background: #4c047b;
    transition: 1s;
}

/*________________ CSS About-Us______________ */
#Aboutus {
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    padding-top: 50px;

}

.heading {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.heading h1 {
    font-size: 50px;
    color: #000;
    margin-bottom: 25px;
    position: relative;
}

.heading h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background: #4c047b;
}

.heading p {
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* contrôler le comportement de disposition des éléments enfants flexibles, 
                      en leur permettant de se répartir sur plusieurs lignes lorsque l'espace disponible est insuffisant */
}

.about-image {
    flex: 1;
    margin-right: 40px;
    overflow: hidden; /* masque tout contenu qui dépasse les limites de cet élément, en le coupant visuellement */
}

.about-image img {
    max-width: 100%;/* la largeur maximale de l'image doit être de 100% de la largeur de son conteneur parent */
    height: auto;
    display: block;
}

.about-image:hover img {
    transform: scale(1.2); /* l'image sera agrandi à 1,2 fois sa taille d'origine. */
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.5;
    color: #666;
}



/* ________ _____________CSS Services_________________  */
#services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(wave2.png);
    background-position: center;
    background-size: cover;
}

#services .titre h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}

.service-row {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;/*  répartir les éléments  flexibles avec un espace égal autour d'eux */
    flex-wrap: wrap;
}

.service-col {
    flex-basis: 25%;/*  taille de base de 25% */
    text-align: center;
}

.service-col img {
    width: 300px;
}

.service-col:hover img {
    transform: scale(1.2);
}

.service-col h4 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400;
}

.service-btn {
    margin: 80px;
    display: flex;
    align-items: flex-end;  /*  l'élément sera aligné verticalement en bas du conteneur */
    justify-content: center;
}

.join-btn {
    display: inline-block;/* l'élément est affiché en tant qu'élément en ligne, mais conserve les propriétés de bloc */
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    background-color: #4c047b;
    transition: 0.3s ease;
}

.join-btn:hover {
    background-color: #5d0256;
}

/* _____________________CSS Section pourquoi-nous-choisir_________________  */
#pourquoi-nous {
    width: 100%;
    background-color: #eee4f6;
    padding: 20px;
}

.why .titre h1 {
    text-align: center;
    padding-top: 50px;
    font-size: 42px;
}

.why .choix {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 75px auto;
    text-align: center;
}

.choix .card {
    width: 100%;
    display: flex;
    justify-content: space-between; /* aligne les éléments horizontalement avec un espacement équilibré entre eux */
    align-items: center;
    flex-direction: column; /*  les éléments avec la classe "card" doivent être affichés en colonne plutôt qu'en ligne */
    margin: 0 20px;
    padding: 20px 20px;
    border: 3px solid #4c047b;
    border-radius: 50px;
    border-bottom-left-radius: 0;
    cursor: pointer;
}

.choix .card:hover {
    background-color: #680b575a;
}

.choix .card h2 {
    font-size: 28px;
    color: #2b0346;
    margin-bottom: 20px;
}

.choix .card p {
    font-size: 17px;
    margin-bottom: 30px;
    line-height: 1.5;
    color: #333;
}

/* _____________________CSS section Avis_________________  */
#avis {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #eee4f6;
    overflow: hidden;
}

#avis .first {
    display: inline-block;
    position: relative;
    font-size: 32px;
    padding: 60px;
    width: 100%;
    text-align: center;

}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.wrapper .container {
    position: relative;
    width: 350px;
    color: #fff;
    background: #4c047b;
    margin: 40px 10px;
    padding: 30px 20px;
    border-radius: 15px;
}

.wrapper .container .profile {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -10%;
    width: 100%;
    display: block;
}

.wrapper .container .profile .imagebox {
    position: relative;
    height: 100px;
    width: 100px;
    margin: auto;
    border: 8px solid #eee4f6;
    border-radius: 50%;/* définit un rayon de bordure de 50% pour donner à la boîte d'image une forme circulaire. */
    overflow: hidden; /*  permet de cacher les parties de l'image qui dépassent de la boîte */
}

.wrapper .container .profile .imagebox img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 3px solid #4c047b;
    border-radius: 50%;
    object-fit: cover; /* Cela permet de recadrer ou d'ajuster automatiquement l'image pour qu'elle remplisse le conteneur sans déformation*/
    transition: 0.3s ease;
}

.wrapper .container .profile .imagebox:hover img {
    transform: scale(1.2);

}

.wrapper .container .profile h2 {
    padding: 5px 0;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 1px;/* applique un espacement de 1 pixel entre les lettres du texte concerné*/
    text-align: center;
}

.wrapper .container p {
    margin-top: 50px;
    color: #fff;
    padding: 0 8px;
    font-size: 15px;
    opacity: 0.8; /* indique que l'élément aura un niveau de transparence de 0.8. */
}
 /*  Les icons quotes  */
.wrapper .container .left {
    font-size: 30px;
    display: block;
    text-align: left;
    color: #cd61c4;
}

.wrapper .container .right {
    font-size: 30px;
    display: block;
    text-align: right;
    color: #cd61c4;
}

/* _____________________CSS footer-contact_________________  */

footer {
    background-color: #36025f;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center;
    
}

#contactus {
    margin-bottom: 20px;
}

form {
    margin: 0 auto;
    max-width: 900px;
}

input,
textarea {
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.3em;
    border-radius: 8px;
}

.but {
    color: #000;
    font-size: 1.5em;
    background-color: #b89ddc;

}

/* applique ces styles lorsqu'on survole la classe "but" avec la souris*/
.but:hover {
    background-color: #410342;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease-in-out; /* la durée 0.3s et le type d'animation lorsqu'on survole l'élément*/
}

#trait {
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrighticon {
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
}

#copyright {
    width: 50%;
    text-align: left;
    color: #FFFAE1;

}

#icons {
    width: 50%;
    text-align: right;

}

#icons a {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}

#icons a :hover {
    transform: scale(1.2);
}


@media screen and (max-width:768px) {


    /* ___________________About-us Responsive__________________*/
    .heading {
        padding: 0px 20px;
    }

    .heading h1 {
        font-size: 36px;
    }

    .heading p {
        font-size: 17px;
        margin-bottom: 0px;
    }

    .container {
        padding: 0px;
    }

    .about {
        padding: 20px;
        flex-direction: column;
    }

    .about-image {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-content p {
        padding: 0px;
        font-size: 16px;
    }

    .about-content .join-btn {
        font-size: 16px;
    }

    /* ___________________Pourquoi-nous choisir Responsive__________________*/
    .why .choix {
        display: flex;
        flex-direction: column;
    }

    .choix .card {
        width: 85%;
        display: flex;
        margin: 20px 0;
    }
}
