@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(55, 38, 48, 0.5), rgba(45, 37, 44, 0.5)), url("https://cdn.wallpapersafari.com/83/54/b9KGv4.jpg");
    font-family: Arial, sans-serif;
    background-size: cover;
}

h1 {
    margin-top: 30px;
    color: white;
}

form {
    background-color: white;
    opacity: 80%;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(87, 178, 230, 0.2);
    margin: 50px auto;
    max-width: 400px;
    max-height: 450px;
    padding: 20px;
    text-align: center;
    /* add text-align property */
}


.bouton {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    color: white;
    padding: 15px 30px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    background: #005D7E;


}

.bouton:hover {
    transform: scale(1.1);
    box-shadow: 6px 6px 9px #005D7E;
    background-color: #005D7E;
}

.inputBox {
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid rgb(15, 15, 15);
}

.inputBox label {
    position: absolute;
    font-weight: bolder;
    top: 10%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;

}

.inputBox input:focus~label,
.inputBox input:focus~ :valid {

    top: -20px;

}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #01030e;
    font-size: 1em;
    letter-spacing: 0.05em;

}

.inputBox ion-icon {
    position: absolute;
    right: 190px;
    color: black;
    font-size: 1.2em;
    top: -5px;

}