*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;
}
.wrapper{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
.chat-space header{
    display: flex;
    align-items: center;
    padding: 18px 30px;
}
.chat-space header .back-icon{
    font-size: 18px;
    color: #370459;
}
.chat-space header img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}
.chat-space header span{
    font-size: 17px;
    font-weight: 500;
}
.chat-box{
    height: 500px;
    overflow-y: auto;
    background: #f7f7f7;
    padding: 10px 30px 20px 30px;
} /*hide scroll bar */
.chat-box::-webkit-scrollbar{
    width: 0%;
} 
.chat-box .chat{
    margin: 15px 0;
}
.chat-box .chat p{
    word-wrap: break-word;
    padding: 8px 16px;
    box-shadow: 0 0 32px 0 rgb(0 0 0 / 15%),
               0 16px 16px -16px rgb(0 0 0 / 15%);
}


.chat-box .out{
    display: flex;
}
.out .details{
    margin-left: auto;
    max-width: calc(100% - 130px);
}
.out .details p{
    background: #370459;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}
.chat-box .in{
    display: flex;
    align-items: flex-end;

}
.chat-box .in img{
    height: 35px;
    width: 35px;
}
.in .details {
    margin-left: 10px;
    margin-right: auto;
    max-width: calc(100% - 130px);
}
.in .details p{
    background: #d0cdcd;
    color: black;
    border-radius: 18px 18px 18px 0;
}
.chat-space .taper-msg{
    padding: 18px 30px;
    display: flex;
    justify-content: space-between;
}
.taper-msg input{
    height: 45px;
    width: calc(100% - 50px);
    font-size: 17px;
    border: 1px solid #ccc;
    padding: 0 13px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.taper-msg button{
    width: 55px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    background: #370459;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
